*{
  box-sizing: border-box;
}

body {
  background-color: #ADD6C1;
}

.pokemon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.pokemon-list>li {
  flex: 0 0 30%;
  text-align: center;
  margin: 5px 1%;
  display: 100%;
}

.button-class {
  border: none;
  width: 50%;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #D8E2E5;
}

/* media queries */
@media all and (max-width : 500px) {
  .button-class {
    width: 10rem;
    font-size: 0.7rem;
  }
}
